@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
}

section {
    padding: 65px 0;
}

.container {
    width: 1320px;
    margin: 0 auto;
}



/* banner section design start here  */

.banner-content {
    height: 600px;
    border-radius: 16px;
    background: linear-gradient(180deg, #020005 0%, rgba(7, 2, 17, 0.00) 100%), url('resources/Banner\ Image.png');
    padding: 188px 250px;
}

.banner-sub-title {
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 16px;
}

.banner-title {
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
}


/* discount section design start here  */

.discount-content{
    text-align: center;
}

.discount-off-title{
    color: #F00;
text-align: center;
font-family: 'Inter';
font-size: 88px;
font-weight: 700;
margin-bottom: 48px;
}

.discount-text {
    color: #F00;
font-family: 'Inter';
font-size: 24px;
font-weight: 500;
margin-bottom: 16px;
}

.discount-categorise{
    color: #070211;
text-align: center;
font-family: 'Inter';
font-size: 48px;
font-weight: 700;
margin-bottom: 48px;
}